fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
jinja2
httpx
email-validator
streamlit
pandas
numpy
plotly
pulp
selenium
webdriver-manager
beautifulsoup4
lxml
amadeus
isodate
python-dotenv
requests
